.layout{
    max-width: 1400px !important;
}

#article-container img {
    border: 1px solid #ccc;
    padding: 2px;
}

#post {
    background: rgba(255,255,255,.8);
}

.card-widget{
    background: rgba(255,255,255,.8) !important;
}

.recent-post-item {
    background: rgba(255,255,255,.8) !important;
}